################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wwCoreCLR/project.lock.json
*.suo
